.subtopic-desc{
    padding: 20px 0px;
}
.submenu-content{
    border:2px solid black;
    border-radius: 20px;
    padding: 30px;
    height: 80vh;
}
.breadcrumb{
    margin-top: 20px;
    cursor: pointer;
}
.content-title{
    cursor: pointer;
    margin-bottom: 0;
    font-size: 18px;
}